meta(charset="UTF-8")
meta(content="width=device-width, initial-scale=1", name="viewport")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="theme-color", content=global.theme)

meta(name="description", content=global.description)

//- Open Graph / Twitter Card
if person.social.twitter
  meta(name="twitter:site", content=person.social.twitter)
meta(name="twitter:card", content="summary")
meta(property="og:title", name="twitter:title", content=global.title)
meta(property="og:url", content=path)
//- meta(property="og:image", content=global.logo)
meta(property="og:description", name="twitter:description", content=global.description)

title= global.title

link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Merriweather:400,700italic,400italic,700|Montserrat:400,700")
link(rel="stylesheet", type="text/css", href="/css/main.css")
