header
  h1.f2.f1-ns.mt3: a.link.dark-gray(href="/")!= person.name
  h2= person.title
  ul.list
    if person.site
      li: a.link(href=person.site)= (person.sitename ? person.sitename : person.site)
    if person.email
      li: a.link(href='mailto:' + person.email)= person.email
    if person.phone
      li= person.phone
    if person.location
      li= person.location
    if person.social.text && person.social.url
      li: a.link(href=person.social.url)= person.social.text
