header.person
  .person__intro
    h1.person__name: a(href="/")!= person.firstname + '<br />' + person.lastname
    h2.person__title= person.title
    hr
  .person__contact
    ul
      if person.site
        li.person__info.person__info--site: a(href=person.site)= (person.sitename ? person.sitename : person.site)
      if person.email
        li.person__info.person__info--email: a(href='mailto:' + person.email)= person.email
      if person.phone
        li.person__info.person__info--phone= person.phone
      if person.location
        li.person__info.person__info--location= person.location
      if person.social.text && person.social.url
        li.person__info.person__info--social: a(href=person.social.url)= person.social.text
