mixin experience(object)
  .experience
    .experience__info
      .experience__name
        h3.experience__title
          if object.url
            a(href=object.url)= object.title
          else
            = object.title
        h4.experience__subtitle= object.subtitle
      ul.experience__meta
        li.experience__data.expereince__data--date
          time(datetime=moment.utc(object.startDate))= moment.utc(object.startDate).format("MMM YYYY")
          | &#032;&ndash;&#032;
          if object.endDate
            time(datetime=moment.utc(object.endDate))= moment.utc(object.endDate).format("MMM YYYY")
          else
            | Current
        if object.location
          li.experience__data.expereince__data--location= object.location
    != object.contents
