mixin experience(exp)
  section.experience.cf.mv3
    //- Position
    h3.f3.mv1.fw6= exp.subtitle

    ul.w-33-ns.w-33-p.fl-ns.fl-p.list.ml0.pl0.lh-title.f5.mt1.mt2-ns.ttu.fw2
      //- Place of Work
      li.fw5
        if exp.url
          a.link.dark-gray.underline-hover(href=exp.url)= exp.title
        else
          = exp.title
      //- Time
      li
        time(datetime=moment.utc(exp.startDate))= moment.utc(exp.startDate).format("MMM YYYY")
        | &#032;&ndash;&#032;
        if exp.endDate
          time(datetime=moment.utc(exp.endDate))= moment.utc(exp.endDate).format("MMM YYYY")
        else
          | Present
      //- Location
      if exp.location
        li= exp.location

    if exp.contents
      .w-66-ns.w-66-p.fr-ns.fr-p.mt1.mt2-ns
        //- Contents
        .measure.lh-title.mt0.f5
          != exp.contents
