mixin experience(exp)
  section.experience
    h5.f6.f5-ns.ttu.tracked.fw2.mv2
        time(datetime=moment.utc(exp.startDate))= moment.utc(exp.startDate).format("MMM YYYY")
        | &#032;&ndash;&#032;
        if exp.endDate
          time(datetime=moment.utc(exp.endDate))= moment.utc(exp.endDate).format("MMM YYYY")
        else
          | Current
    //- Title
    h3.f4.f3-ns.mt2.mb0.fw7
      if exp.url
        a.link.dark-gray.underline-hover(href=exp.url)= exp.title
      else
        = exp.title
    //- Subtitle
    h4.f5.f4-ns.mt0.mb2.fw4= exp.subtitle
    //- Location
    if exp.location
      h5.f6.f5-ns.fw2.mv2= exp.location
    //- Contents
    .measure.mt3.mb4
      != exp.contents
