mixin experience(exp)
  section.experience
    .w-100-ns.cf.mb2.mt2
      //- Time
      h5.f6.f5-ns.ttu.tracked.fw2.mv0.fl-ns.pr3.br
        time(datetime=moment.utc(exp.startDate))= moment.utc(exp.startDate).format("MMM YYYY")
        | &#032;&ndash;&#032;
        if exp.endDate
          time(datetime=moment.utc(exp.endDate))= moment.utc(exp.endDate).format("MMM YYYY")
        else
          | Current
      //- Location
      if exp.location
        h5.f6.f5-ns.ttu.tracked.fw2.mv0.fl-ns.ml3= exp.location
    //- Title
    h3.f3.f2-ns.mt2.mb1.fw7
      if exp.url
        a(href=exp.url)= exp.title
      else
        = exp.title
    //- Subtitle
    h4.f4.f3-ns.mt1.mb2.fw4= exp.subtitle
    //- Contents
    .measure.mt3.mb4
      != exp.contents
